<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&family=Montserrat:wght@100;300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <table
      style="width: 100%; padding: 0 16px; max-width: 400px; margin: 0 auto"
    >
      <tr>
        <td style="text-align: center">
          <img
            style="height: 71.64px; width: 71.64px"
            src="https://res.cloudinary.com/debkncpwm/image/upload/v1670410899/pets-works-image-4_rdmf1c.png"
            alt=""
          />
        </td>
      </tr>
      <tr>
        <td style="text-align: center; width: 100%">
          <h1
            style="
              font-size: 25px;
              color: #c55a38;
              text-align: center;
              font-family: 'Montserrat', sans-serif;
              text-transform: capitalize;
              font-weight: 600;
            "
          >
            Reset Your Password
          </h1>
        </td>
      </tr>
      <tr>
        <td>
          <p
            style="
              font-family: Montserrat;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              text-align: justify;
            "
          >
            You're recieving this email because you requested a Password reset
            for your Pi-pets account.
          </p>
          <p
            style="
              font-family: Montserrat;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              margin-top: 16px;
              text-align: justify;
            "
          >
            Please tap the button below to reset your password
          </p>
        </td>
      </tr>
      <tr>
        <td style="width: 100%; text-align: center; position: relative">
          <button
            style="
              max-width: content;
              padding: 0 32px;
              padding-top: 8px;
              padding-bottom: 8px;
              margin-top: 32px;
              margin-bottom: 32px;
              background-color: #c55a38;
              border: none;
              color: white;
              font-family: Montserrat;
              border-radius: 8px;
              font-size: 14px;
              cursor: pointer;
              font-weight: 500;
            "
          >
            <a href={{password_reset_link}} style="color: inherit; text-decoration: none">
              Reset Password</a
            >
          </button>
          <p
            style="
              font-family: Montserrat;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              text-align: justify;
            "
          >
            This link will expire in 5 days. If you did not make this request,
            please disregard this email. For help, contact us through our
            <a style="color: #c55a38" href="info@pi-health.co.uk">Help center.</a>
          </p>
        </td>
      </tr>
      <tr>
        <td
          style="
            margin-top: 64px;
            display: block;
            text-align: center;
            width: 100%;
            border-top: 1px solid #d9d9d9;
            padding-top: 24px;
          "
        >
          <div style="margin: 0 auto; vertical-align: center">
            <a style="text-align: center" href="#instagram"
              ><img
                style="
                  height: 42px;
                  width: 42px;
                  transform: translate(-6px, 8px);
                "
                src="https://res.cloudinary.com/debkncpwm/image/upload/v1670410898/instagram-logo_lh5peu.png"
                alt="instagram-logo"
            /></a>
            <a style="text-align: center" href="#twitter"
              ><img
                style="height: 28px; width: 28px"
                src="https://res.cloudinary.com/debkncpwm/image/upload/v1670410898/twitter-logo_oyh0lj.png"
                alt="twitter-logo"
            /></a>
            <a style="text-align: center" href="#facebook"
              ><img
                style="max-height: 52px; max-width: 52px"
                src="https://res.cloudinary.com/debkncpwm/image/upload/v1670410898/facebook-logo_ij3kuc.png"
                alt="facebook-logo"
            /></a>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <p
            style="
              font-family: Montserrat;
              font-weight: 300;
              text-align: center;
              font-size: 14px;
            "
          >
            This email was sent by
            <a
              style="
                color: #c55a38;

                font-size: 14px;
                font: weight 300;
              "
              href="pi-health.co.uk"
              >Pi-Pets</a
            >.
          </p>
          <p
            style="
              font-family: Montserrat;
              font-weight: 300;
              text-align: center;
              font-size: 14px;
              margin: 8px 0;
            "
          >
            &copy;2022. Lecktore learning. all rights reserved
          </p>
          <p
            style="
              font-family: Montserrat;
              font-weight: 300;
              text-align: center;
              font-size: 14px;
            "
          >
            8877 Manchester. United Kingdom
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>